.ladi-section .ladi-container {
    width: 420px;
}

#SECTION7 {
    margin-top: -50px;
}

#GROUP96 {
    width: 752.626px;
    height: 614.5px;
    top: 244.798px;
    left: -354.326px;
    display: none !important;
}

#GROUP381 {
    left: 383.374px;
    width: 369.252px;
    height: 614.5px;
    top: 0px;
}

#FORM7 {
    width: 280px;
    top: 16.5px;
    left: 0px;
    display: flex;
    align-items: center;
}

#BOX71 {
    width: 369px;
    height: 61px;
    top: 553.5px;
}

#BOX81 {
    width: 369px;
    height: 550px;
    left: 0.252px;
}

#GROUP531 {
    top: 171.093px;
    left: 216.178px;
    width: 182.122px;
    height: 44.804px;
}

#GROUP16 {
    top: 43.8px;
    left: 35.5px;
    width: 349px;
    height: 72px;
}

#PARAGRAPH611 {
    top: 115.8px;
    left: 47px;
    width: 326px;
}

#GROUP56 {
    top: 171.196px;
    left: 21.626px;
    width: 182.009px;
    height: 44.5981px;
}

#GROUP54 {
    top: 171.093px;
    left: 216.105px;
    width: 182.269px;
    height: 45.397px;
}

#GROUP55 {
    top: 171.299px;
    left: 21.5232px;
    width: 182.009px;
    height: 44.5981px;
}

#GROUP97 {
    width: 862.626px;
    height: 614.5px;
    top: 240.798px;
    left: 25.5px;
}

#SHAPE27 {
    width: 148px;
    height: 148px;
    top: 402px;
    left: 221.252px;
}

#GROUP391 {
    top: 10px;
    left: 192.252px;
    width: 162px;
    height: 99.9997px;
}

#GROUP401 {
    top: 10px;
    left: 14.252px;
    width: 162px;
    height: 99.9997px;
}

#LINE17 {
    height: 72px;
    top: 27px;
    left: 176.252px;
}

#GROUP411 {
    height: 91px;
    top: 126.602px;
    left: 44.752px;
    width: 280px;
}

#GROUP421 {
    height: 105px;
    top: 216.602px;
    left: 51.752px;
}

#GROUP441 {
    top: 321.602px;
    left: 43.752px;
    width: 281px;
    height: 103px;
}

#GROUP471 {
    top: 440.5px;
    left: 43.752px;
}

#BUTTON91 {
    top: 569px;
    left: 27px;
    width: 150px;
    height: 30px;
}

#PARAGRAPH50,
#PARAGRAPH32 {
    top: 55px;
    width: 280px;
    left: 0px;
}

#PARAGRAPH52 {
    top: 57px;
    width: 266px;
}

#GROUP431 {
    top: 42.416px;
}

#GROUP531,
#BOX121 {
    width: 182.122px;
    height: 44.804px;
}

#SHAPE30 {
    width: 10.2925px;
    height: 17.9655px;
    top: 14.1464px;
    left: 144.71px;
}

#HEADLINE431 {
    top: 11.7717px;
    left: 29.784px;
}

#HEADLINE431,
#HEADLINE441 {
    width: 107px;
}

#GROUP16.ladi-animation>.ladi-group,
#GROUP70.ladi-animation>.ladi-group {
    animation-delay: 1s;
    animation-duration: 2s;
}

#HEADLINE361 {
    width: 349px;
    top: 0px;
    left: 0px;
}

#SHAPE18,
#SHAPE19,
#SHAPE34,
#SHAPE43 {
    top: 56px;
    left: 124.5px;
    width: 100px;
    height: 8px;
}

#HEADLINE361>.ladi-headline {
    font-size: 45px;
}

#PARAGRAPH611>.ladi-paragraph {
    font-size: 15px;
}

#FORM7 {
    height: 40px;
}

#GROUP381 {
    top: 0px;
}

#BOX71,
#BOX81 {
    left: 0px;
}

#GROUP471 {
    width: 281.496px;
    height: 87px;
}

#BOX71>.ladi-box {
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(209, 212, 214);
}

#BOX81>.ladi-box {
    border-width: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(187, 106, 7);
    background-color: rgb(242, 233, 221);
    opacity: 0.8;
}

#SHAPE27>.ladi-shape {
    opacity: 0.15;
}

#HEADLINE411,
#HEADLINE421,
#HEADLINE391,
#HEADLINE401 {
    width: 113px;
    top: 0px;
    left: 24.5px;
}

#PARAGRAPH44,
#PARAGRAPH46,
#PARAGRAPH26,
#PARAGRAPH28 {
    top: 24px;
    left: 0px;
    width: 162px;
}

#PARAGRAPH45,
#PARAGRAPH47,
#PARAGRAPH27,
#PARAGRAPH29 {
    top: 63.9997px;
    left: 0px;
    width: 162px;
}

#HEADLINE41>.ladi-headline,
#HEADLINE421>.ladi-headline,
#HEADLINE391>.ladi-headline,
#HEADLINE401>.ladi-headline {
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH44>.ladi-paragraph,
#PARAGRAPH46>.ladi-paragraph,
#PARAGRAPH26>.ladi-paragraph,
#PARAGRAPH28>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH45>.ladi-paragraph,
#PARAGRAPH47>.ladi-paragraph,
#PARAGRAPH50>.ladi-paragraph,
#PARAGRAPH27>.ladi-paragraph,
#PARAGRAPH29>.ladi-paragraph,
#PARAGRAPH32>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#LINE17>.ladi-line,
#LINE12>.ladi-line {
    height: 100%;
    padding: 0px 8px;
}

#LINE17>.ladi-line>.ladi-line-container,
#LINE12>.ladi-line>.ladi-line-container {
    border-top: 0px !important;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    opacity: 0.5;
}

#PARAGRAPH48,
#PARAGRAPH30 {
    top: 0px;
    left: 38px;
}

#PARAGRAPH48,
#PARAGRAPH54,
#PARAGRAPH30,
#PARAGRAPH36 {
    width: 204px;
}

#PARAGRAPH48>.ladi-paragraph,
#PARAGRAPH30>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH45>.ladi-paragraph,
#PARAGRAPH47>.ladi-paragraph,
#PARAGRAPH50>.ladi-paragraph,
#PARAGRAPH27>.ladi-paragraph,
#PARAGRAPH29>.ladi-paragraph,
#PARAGRAPH32>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH51,
#PARAGRAPH52,
#GROUP28,
#PARAGRAPH33,
#PARAGRAPH34 {
    width: 266px;
}

#PARAGRAPH51 {
    top: 0px;
    left: 0px;
}

#PARAGRAPH51>.ladi-paragraph,
#PARAGRAPH52>.ladi-paragraph,
#PARAGRAPH33>.ladi-paragraph,
#PARAGRAPH34>.ladi-paragraph {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(232, 59, 48);
    text-align: center;
}

#SHAPE28,
#SHAPE23 {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
}

#SHAPE29,
#SHAPE24 {
    width: 15px;
    height: 15px;
    top: 7.168px;
    left: 10.705px;
}

#SHAPE28.ladi-animation>.ladi-shape,
#SHAPE23.ladi-animation>.ladi-shape {
    animation-name: pulse;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#SHAPE29.ladi-animation>.ladi-shape,
#SHAPE24.ladi-animation>.ladi-shape {
    animation-name: pulse;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#SHAPE29>.ladi-shape,
#SHAPE24>.ladi-shape {
    transform: rotate(25deg);
}

#PARAGRAPH53,
#PARAGRAPH35 {
    top: 0px;
    left: 1px;
    width: 280px;
}

#PARAGRAPH53>.ladi-paragraph,
#PARAGRAPH35>.ladi-paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH54,
#PARAGRAPH36 {
    top: 20px;
    left: 39px;
    width: 204px;
}

#GROUP45,
#GROUP32 {
    top: 40px;
    left: 15px;
    width: 92px;
    height: 44px;
}

#PARAGRAPH56,
#PARAGRAPH38 {
    top: 30.5px;
    left: 95px;
    width: 92px;
}

#GROUP461,
#GROUP33 {
    top: 40px;
    left: 172px;
    width: 92px;
    height: 44px;
}

#PARAGRAPH58,
#PARAGRAPH40 {
    top: 85px;
    left: 0px;
    width: 280px;
}

#PARAGRAPH53>.ladi-paragraph,
#PARAGRAPH35>.ladi-paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH54>.ladi-paragraph,
#PARAGRAPH55>.ladi-paragraph,
#PARAGRAPH57>.ladi-paragraph,
#PARAGRAPH36>.ladi-paragraph,
#PARAGRAPH37>.ladi-paragraph,
#PARAGRAPH39>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#LINE18,
#LINE20 {
    width: 92px;
    top: 0px;
    left: 0px;
}

#PARAGRAPH55,
#PARAGRAPH57,
#PARAGRAPH37,
#PARAGRAPH39 {
    top: 12px;
    left: 0px;
    width: 92px;
}

#LINE19,
#LINE21,
#LINE14,
#LINE16 {
    top: 27px;
    left: 0px;
    width: 92px;
}

#LINE2>.ladi-line,
#LINE3>.ladi-line,
#LINE4>.ladi-line,
#LINE5>.ladi-line,
#LINE18>.ladi-line,
#LINE19>.ladi-line,
#LINE20>.ladi-line,
#LINE21>.ladi-line,
#LINE13>.ladi-line,
#LINE14>.ladi-line,
#LINE15>.ladi-line,
#LINE16>.ladi-line,
#LINE24>.ladi-line,
#LINE25>.ladi-line {
    width: 100%;
    padding: 8px 0px;
}

#LINE18>.ladi-line>.ladi-line-container,
#LINE19>.ladi-line>.ladi-line-container,
#LINE20>.ladi-line>.ladi-line-container,
#LINE21>.ladi-line>.ladi-line-container,
#LINE13>.ladi-line>.ladi-line-container,
#LINE14>.ladi-line>.ladi-line-container,
#LINE15>.ladi-line>.ladi-line-container,
#LINE16>.ladi-line>.ladi-line-container {
    border-top: 1px solid rgb(34, 32, 32);
    border-right: 1px solid rgb(34, 32, 32);
    border-bottom: 1px solid rgb(34, 32, 32);
    border-left: 0px !important;
}

#PARAGRAPH54>.ladi-paragraph,
#PARAGRAPH55>.ladi-paragraph,
#PARAGRAPH57>.ladi-paragraph,
#PARAGRAPH36>.ladi-paragraph,
#PARAGRAPH37>.ladi-paragraph,
#PARAGRAPH39>.ladi-paragraph {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH56,
#PARAGRAPH38 {
    top: 30.5px;
    left: 95px;
    width: 92px;
}

#PARAGRAPH56>.ladi-paragraph,
#PARAGRAPH38>.ladi-paragraph {
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(232, 59, 48);
    text-align: center;
}

#GROUP461,
#GROUP33 {
    top: 40px;
    left: 172px;
}

#GROUP45,
#GROUP461,
#GROUP32,
#GROUP33 {
    width: 92px;
    height: 44px;
}

#PARAGRAPH58,
#PARAGRAPH40 {
    top: 85px;
    left: 0px;
    width: 280px;
}

#PARAGRAPH58>.ladi-paragraph,
#PARAGRAPH40>.ladi-paragraph,
#PARAGRAPH96>.ladi-paragraph,
#PARAGRAPH97>.ladi-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-align: center;
}

#PARAGRAPH55,
#PARAGRAPH57,
#PARAGRAPH37,
#PARAGRAPH39 {
    top: 12px;
    left: 0px;
}

#GROUP48S,
#GROUP361 {
    width: 280px;
    height: 44px;
    top: 0px;
    left: 1.496px;
}

#PARAGRAPH61,
#PARAGRAPH43 {
    top: 62px;
    left: 0px;
    width: 280px;
}

#PARAGRAPH59 {
    width: 280px;
    top: 0px;
    left: 0px;
}

#PARAGRAPH60 {
    top: 23px;
    left: 0px;
    width: 280px;
}

#PARAGRAPH59>.ladi-paragraph,
#PARAGRAPH41>.ladi-paragraph {
    font-family: Niramit, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(94, 94, 94);
    text-align: center;
}

#PARAGRAPH60>.ladi-paragraph,
#PARAGRAPH42>.ladi-paragraph {
    font-family: Itim, cursive;
    font-size: 15px;
    line-height: 1.4;
    color: rgb(94, 94, 94);
    text-align: center;
}

#PARAGRAPH61>.ladi-paragraph,
#PARAGRAPH43>.ladi-paragraph {
    font-family: "Dancing Script", cursive;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(94, 94, 94);
    text-decoration-line: underline;
    letter-spacing: 0px;
    text-align: center;
}

#BUTTON91.ladi-animation>.ladi-button {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#BUTTON91>.ladi-button {
    box-shadow: rgb(0, 0, 0) 0px 15px 20px -15px;
}

#BUTTON91>.ladi-button>.ladi-button-background,
#BUTTON71>.ladi-button>.ladi-button-background {
    background-color: rgb(121, 113, 113);
}

#BOX121 {
    top: 0px;
    left: 0px;
}

#BOX121>.ladi-box,
#BOX141>.ladi-box {
    background-color: rgb(239, 203, 132);
}

#BOX121>.ladi-box,
#BOX151>.ladi-box,
#BOX131>.ladi-box,
#BOX141>.ladi-box {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 94, 94);
}

#SHAPE30.ladi-animation>.ladi-shape,
#SHAPE33.ladi-animation>.ladi-shape,
#SHAPE31.ladi-animation>.ladi-shape,
#SHAPE32.ladi-animation>.ladi-shape {
    animation-name: fadeInDown;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#HEADLINE431>.ladi-headline,
#HEADLINE46>.ladi-headline,
#HEADLINE441>.ladi-headline,
#HEADLINE451>.ladi-headline {
    line-height: 1.6;
    color: rgb(37, 38, 40);
    text-align: center;
    font-size: 12;
}

#GROUP16.ladi-animation>.ladi-group,
#GROUP70.ladi-animation>.ladi-group {
    animation-name: fadeInDown;
    animation-iteration-count: 1;
}

#HEADLINE361>.ladi-headline {
    font-family: VVZOQmVuWHVhblCLlRURg;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(187, 106, 7);
    text-align: center;
}

#PARAGRAPH611.ladi-animation>.ladi-paragraph,
#PARAGRAPH81.ladi-animation>.ladi-paragraph {
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#PARAGRAPH611>.ladi-paragraph {
    line-height: 1.6;
    color: rgb(187, 106, 7);
    text-align: center;
}


#BOX151 {
    width: 182.009px;
    height: 44.5981px;
}

#BOX151>.ladi-box {
    background-image: url(https://w.ladicdn.com/s500x350/5c7362c6c417ab07e5196b05/uffTbu4J20210123080902.jpeg);
}

#SHAPE33 {
    top: 14.0815px;
    left: 144.619px;
    width: 10.2862px;
    height: 17.8829px;
}

#HEADLINE46 {
    top: 11.6948px;
    left: 29.7655px;
    width: 108px;
}

#HEADLINE46>.ladi-headline {
    font-size: 12px;
}

#BOX131 {
    width: 182.269px;
    height: 45.397px;
    top: 0px;
    left: 0px;
}

#SHAPE31 {
    width: 10.3009px;
    height: 18.2033px;
    top: 14.3336px;
    left: 144.826px;
}

#HEADLINE441 {
    top: 11.9938px;
    left: 29.808px;
    width: 107px;
}

#BOX131>.ladi-box {
    background-image: url(https://w.ladicdn.com/s500x350/5c7362c6c417ab07e5196b05/q2LEMuoI20210123080955.jpeg);
}

#HEADLINE441>.ladi-headline,
#HEADLINE45>.ladi-headline {
    font-size: 12px;
}

#BOX141 {
    width: 182.009px;
    height: 44.5981px;
}

#SHAPE32 {
    top: 14.0814px;
    left: 144.723px;
    width: 10.2862px;
    height: 17.8829px;
}

#HEADLINE451 {
    top: 11.6948px;
    left: 29.8683px;
    width: 108px;
}

#GROUP371 {
    width: 369.252px;
    height: 614.5px;
    left: 0px;
}

#FORM6 {
    width: 369.252px;
    top: 142.5px;
    left: 0px;
    display: flex;
    align-items: center;
}

#BOX6 {
    width: 369px;
    height: 61px;
    top: 553.5px;
}

#BOX41 {
    width: 369px;
    height: 550px;
    left: 0px;
}

#SHAPE20 {
    width: 148px;
    height: 148px;
    top: 402px;
    left: 221.252px;
}

#GROUP22 {
    top: 15px;
    left: 10.252px;
}

#GROUP24 {
    top: 15px;
    left: 197.252px;
    width: 162px;
    height: 99.9997px;
}

#LINE12 {
    height: 72px;
    top: 27px;
    left: 176.252px;
}

#GROUP26 {
    height: 91px;
    top: 126.602px;
    left: 44.752px;
    width: 280px;
}

#GROUP28 {
    height: 104px;
    top: 217.602px;
    left: 51.752px;
}

#GROUP31 {
    top: 321.602px;
    left: 43.752px;
    width: 281px;
    height: 103px;
}

#GROUP351 {
    top: 440.5px;
    left: 43.752px;
    width: 281.496px;
    height: 87px;
}

#BUTTON71 {
    top: 569px;
    left: 27px;
    width: 150px;
    height: 30px;
}

#PARAGRAPH34 {
    top: 56px;
}

#GROUP29 {
    top: 41.416px;
}

#BUTTON8S,
#BUTTON10S {
    top: 569px;
    left: 192px;
    width: 150px;
    height: 30px;
}


#BOX151 {
    top: 0px;
    left: 0px;
}

#BOX15>.ladi-box {
    background-size: cover;
    background-origin: content-box;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
}

#BOX15>.ladi-box>.ladi-overlay {
    background-color: rgb(255, 246, 227);
    opacity: 0.9;
}

#SHAPE33.ladi-animation>.ladi-shape {
    animation-name: fadeInDown;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#HEADLINE46>.ladi-headline {
    line-height: 1.6;
    color: rgb(37, 38, 40);
    text-align: center;
}

#BOX13>.ladi-box {
    background-size: cover;
    background-origin: content-box;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
}

#BOX131>.ladi-box>.ladi-overlay {
    background-color: rgb(255, 246, 227);
    opacity: 0.9;
}

#SHAPE31.ladi-animation>.ladi-shape {
    animation-name: fadeInDown;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#BOX141 {
    top: 0px;
    left: 0px;
}

#GROUP371 {
    top: 0px;
}

#FORM6 {
    height: 40px;
}

#BOX6 {
    left: 0px;
}

#BOX41 {
    top: 0px;
}

#GROUP22 {
    width: 162px;
    height: 99.9997px;
}

.ladi-animation-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

#BOX6>.ladi-box {
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(209, 212, 214);
}

#BOX41>.ladi-box {
    border-width: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(187, 106, 7);
    background-color: rgb(242, 233, 221);
    opacity: 0.8;
}

#SHAPE20>.ladi-shape {
    opacity: 0.15;
}

#PARAGRAPH33 {
    top: 0px;
    left: 0px;
}

#PARAGRAPH34 {
    left: 0px;
}

#GROUP29 {
    width: 25.705px;
    height: 22.168px;
    left: 115.143px;
}

#SHAPE23 svg:last-child {
    fill: rgb(255, 46, 92);
}

#SHAPE23:hover>.ladi-shape {
    opacity: 1;
}

#PARAGRAPH41 {
    width: 280px;
    top: 0px;
    left: 0px;
}

#PARAGRAPH42 {
    top: 23px;
    left: 0px;
    width: 280px;
}

#BUTTON8S.ladi-animation>.ladi-button {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#BUTTON8S>.ladi-button {
    border-radius: 10px;
}

#BUTTON8S>.ladi-button>.ladi-button-background {
    background-color: rgb(121, 113, 113);
}

#BUTTON10S.ladi-animation>.ladi-button {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#BUTTON10S>.ladi-button {
    border-radius: 10px;
}

#BUTTON10S>.ladi-button>.ladi-button-background {
    background-color: rgb(121, 113, 113);
}

#BUTTON71.ladi-animation>.ladi-button {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#BUTTON71>.ladi-button {
    border-radius: 10px;
}

#BUTTON71>.ladi-button>.ladi-button-background {
    background-color: rgb(121, 113, 113);
}

#BUTTON91.ladi-animation>.ladi-button {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#BUTTON91>.ladi-button {
    border-radius: 10px;
}

#BUTTON91>.ladi-button>.ladi-button-background {
    background-color: rgb(121, 113, 113);
}

#BOX151>.ladi-box,
#BOX131>.ladi-box {
    background-size: cover;
    background-origin: content-box;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
}

#BOX151>.ladi-box>.ladi-overlay {
    background-color: rgb(255, 246, 227);
    opacity: 0.9;
}

#SHAPE24 svg:last-child {
    fill: rgb(234, 108, 136);
}

#HEADLINE411>.ladi-headline {
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center;
}

#GROUP431 {
    width: 25.705px;
    height: 22.168px;
    left: 115.143px;
}

#SHAPE28 svg:last-child {
    fill: rgb(255, 46, 92);
}

#SHAPE29 svg:last-child {
    fill: rgb(234, 108, 136);
}

#GROUP421 {
    width: 266px;
}

#PARAGRAPH52 {
    left: 0px;
}

#SHAPE30 svg:last-child {
    fill: rgb(37, 38, 40);
}

.text-button-white {
    color: white !important;
}

#FORM6 > .ladi-headline, #FORM7 > .ladi-headline{
    font-family: Philosopher, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(1, 1, 1);
    text-decoration-line: underline;
    text-align: center;
}